 * {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
 body  {
    background-image: url("./2262130.jpg");
    background-color: #cccccc;
  }