 * {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
 body  {
    background-image: url("./2262130.jpg");
    background-color: #cccccc;
  }
  #flag{
   height: 350px;
   background-position: center;
   background-repeat: none;
   background-size: cover;
   }
   .codeNumber{
   display: flex;
   background-color: rgb(255, 255, 255);
   justify-content: center;
   text-align: center;
   }